<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<title>Editor Test</title>
	</head>
	<body ng-controller="mainController">

		
		
	

		<script type="text/javascript" src="/angular/angular.js"></script>
		<script type="text/javascript" src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/angular-sanitize/angular-sanitize.js"></script>

		<script type="text/javascript" src="/js/app.js"></script>

		<script type="text/javascript">

		</script>
	</body>
</html>