<!doctype html>
<html ng-app="sample">
	<head>
		<meta charset="utf-8" />
		<title>Chess Game</title>
		<!-- build:css(src) styles.css -->
		<link rel="stylesheet" type="text/css" href="/styles/chess.css">
		<link rel="stylesheet" type="text/css" href="/e2eTemplates/styles/main.css">
		<!-- endbuild -->
	</head>
	<body ng-controller="mainController">
		<ul class="actions">
			<li ng-repeat="(key,button) in buttons">
				<button 
					ng-click="setButtonActive(button);"
					ng-mouseover="buttonOverLeave(button.desc, button.currentVal, button)"
					ng-mouseleave="buttonOverLeave('', '', button)"
					ng-class="{active:button.active, over: button.over}"
				>
					{{button.label}}
				</button>
			</li>
		</ul>
		<p class="description">
			<span ng-if="currentVal !== undefined  && currentVal !== ''">
				current value: {{currentVal}}
			</span> <br />
			{{description}} 
		</p>
		<hr>
		</div>

		<ul class="chess-container">
			<li>
				<chess-board-directive 
					user="color"
					display-coordinates="true"
					move-mode="moveMode"
					display-accessible-squares="accessibleMoves"
					control="control"
				>
				</chess-board-directive>
			</li>
			<li ng-if="isEditable()">
				<chess-edit-board-directive></chess-edit-board-directive>
			</li>
		</ul>

		
		<!-- SCRIPTS -->
		<!-- build:extjs(bower_components) ext.js -->
		<script type="text/javascript" src="/angular/angular.js"></script>
		<script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
		<!-- endbuild -->

		<!-- build:appjs(src) app.js -->
		<script type="text/javascript" src="/js/module.js"></script>

		<script type="text/javascript" src="/js/services/a-module.js"></script>
		<script type="text/javascript" src="/js/services/chess-constants-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-piece-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-position-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-moves-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-dragdropmove-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-clickmove-service.js"></script>

		<script type="text/javascript" src="/js/controllers/a-module.js"></script>

		<script type="text/javascript" src="/js/directives/a-module.js"></script>
		<script type="text/javascript" src="/js/directives/chess-board-directive.js"></script>
		<script type="text/javascript" src="/js/directives/chess-square-directive.js"></script>
		<script type="text/javascript" src="/js/directives/chess-square-move.js"></script>
		<script type="text/javascript" src="/js/directives/chess-edit-board-directive.js"></script>

		<script type="text/javascript" src="/js/filters/a-module.js"></script>
		<script type="text/javascript" src="/js/filters/chess-range-filter.js"></script>

		<script type="text/javascript" src="/js/module.js"></script>

		<script type="text/javascript" src="/e2eTemplates/js/sample.js"></script>
		<!-- endbuild -->
	</body>
</html>