<!doctype html>
<html ng-app="chess">
	<head>
		<meta charset="utf-8" />
		<title>Chess Game</title>
		<link rel="stylesheet" type="text/css" href="/styles/chess.css">
		<link rel="stylesheet" type="text/css" href="/styles/animations.css">
	</head>
	<body ng-controller="mainController">

		<button ng-click="changeColor()">change color</button>
		<button ng-click="checkMove()">check move</button>

		<chess-board-directive 
			user="color"
			display-coordinates="true"
		>
		</chess-board-directive>
		
		<!-- SCRIPTS -->
		<script type="text/javascript" src="/angular/angular.js"></script>
		<script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/angular-sanitize/angular-sanitize.js"></script>
		<script type="text/javascript" src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>

		<script type="text/javascript" src="/js/module.js"></script>

		<script type="text/javascript" src="/js/services/a-module.js"></script>
		<script type="text/javascript" src="/js/services/chess-piece-service.js"></script>
		<script type="text/javascript" src="/js/services/chess-position-service.js"></script>

		<script type="text/javascript" src="/js/controllers/a-module.js"></script>
		<script type="text/javascript" src="/js/controllers/chess-main-controller.js"></script>

		<script type="text/javascript" src="/js/directives/a-module.js"></script>
		<script type="text/javascript" src="/js/directives/chess-board-directive.js"></script>
		<script type="text/javascript" src="/js/directives/chess-square-directive.js"></script>

		<script type="text/javascript" src="/js/filters/a-module.js"></script>
		<script type="text/javascript" src="/js/filters/chess-range-filter.js"></script>

		<script type="text/javascript" src="/js/module.js"></script>

		<script type="text/javascript">

		</script>
	</body>
</html>