
.whiteSquare{
	background-color: white;
}

.blackSquare{
	background-color: rgb(218, 109, 0);
}

.overSquare{
/*	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid gray;*/
	background-color: rgba(0,0,0, 0.5);
}

.square{
	width:50px;
	height:50px;
	float:left;
}

.firstOfLine{
   clear: both;	
}

.square img{
	cursor: move;
	width: 100%;
	height: 100%;
}


